.phaseItem {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-0-75);
}

.dot {
  margin-top: var(--spacing-0-5);
  width: var(--spacing-0-25);
  height: var(--spacing-0-25);
  border-radius: var(--border-radius-full);
  
  &Indigo {
    background-color: var(--color-indigo-400);
  }
  
  &Sky {
    background-color: var(--color-sky-400);
  }
  
  &Neutral {
    background-color: var(--color-neutral-600);
  }
}

.text {
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
}