/* stylelint-disable scale-unlimited/declaration-strict-value */

.x-hs-large {
  font-size: 3rem; // 48px
}

.x-hs-normal {
  font-size: 2rem; // 32px
}

.x-hs-small {
  font-size: 1.5rem; // 24px
}

.x-fs-large {
  font-size: 1.25rem; // 20px
}

.x-fs-normal {
  font-size: 1rem; // 16px
}

.x-fs-small {
  font-size: 0.875rem; // 14px
}

.x-fs-link {
  font-size: 0.75rem; // 12px
}

/* stylelint-enable scale-unlimited/declaration-strict-value */
